In [1]:
import numpy as np
import pandas as pd

In [2]:
ev_charging_reports = pd.read_csv("dataset/ev_charging_reports.csv", delimiter=";")
ev_charging_reports.head()

,session_ID,Garage_ID,User_ID,User_type,Shared_ID,Start_plugin,Start_plugin_hour,End_plugout,End_plugout_hour,El_kWh,Duration_hours,month_plugin,weekdays_plugin,Plugin_category,Duration_category
0,1,AdO3,AdO3-4,Private,NaN,21.12.2018 10:20,10,21.12.2018 10:23,10.0,"0,3","0,05",Dec,Friday,late morning (9-12),Less than 3 hours
1,2,AdO3,AdO3-4,Private,NaN,21.12.2018 10:24,10,21.12.2018 10:32,10.0,"0,87","0,136666667",Dec,Friday,late morning (9-12),Less than 3 hours
2,3,AdO3,AdO3-4,Private,NaN,21.12.2018 11:33,11,21.12.2018 19:46,19.0,"29,87","8,216388889",Dec,Friday,late morning (9-12),Between 6 and 9 hours
3,4,AdO3,AdO3-2,Private,NaN,22.12.2018 16:15,16,23.12.2018 16:40,16.0,"15,56","24,41972222",Dec,Saturday,late afternoon (15-18),More than 18 hours
4,5,AdO3,AdO3-2,Private,NaN,24.12.2018 22:03,22,24.12.2018 23:02,23.0,"3,62","0,970555556",Dec,Monday,late evening (21-midnight),Less than 3 hours

In [3]:
ev_charging_reports["Start_plugin_hour"] = ev_charging_reports["Start_plugin"].str.split(" ").str[0] + " " + ev_charging_reports["Start_plugin_hour"].astype(str) + ":00"
ev_charging_reports.head()

,session_ID,Garage_ID,User_ID,User_type,Shared_ID,Start_plugin,Start_plugin_hour,End_plugout,End_plugout_hour,El_kWh,Duration_hours,month_plugin,weekdays_plugin,Plugin_category,Duration_category
0,1,AdO3,AdO3-4,Private,NaN,21.12.2018 10:20,21.12.2018 10:00,21.12.2018 10:23,10.0,"0,3","0,05",Dec,Friday,late morning (9-12),Less than 3 hours
1,2,AdO3,AdO3-4,Private,NaN,21.12.2018 10:24,21.12.2018 10:00,21.12.2018 10:32,10.0,"0,87","0,136666667",Dec,Friday,late morning (9-12),Less than 3 hours
2,3,AdO3,AdO3-4,Private,NaN,21.12.2018 11:33,21.12.2018 11:00,21.12.2018 19:46,19.0,"29,87","8,216388889",Dec,Friday,late morning (9-12),Between 6 and 9 hours
3,4,AdO3,AdO3-2,Private,NaN,22.12.2018 16:15,22.12.2018 16:00,23.12.2018 16:40,16.0,"15,56","24,41972222",Dec,Saturday,late afternoon (15-18),More than 18 hours
4,5,AdO3,AdO3-2,Private,NaN,24.12.2018 22:03,24.12.2018 22:00,24.12.2018 23:02,23.0,"3,62","0,970555556",Dec,Monday,late evening (21-midnight),Less than 3 hours

In [7]:
print(ev_charging_reports.columns)

Index(['session_ID', 'Garage_ID', 'User_ID', 'User_type', 'Shared_ID',
       'Start_plugin', 'Start_plugin_hour', 'End_plugout', 'End_plugout_hour',
       'El_kWh', 'Duration_hours', 'month_plugin', 'weekdays_plugin',
       'Plugin_category', 'Duration_category'],
      dtype='object')

In [9]:
print(ev_charging_reports.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6878 entries, 0 to 6877
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   session_ID         6878 non-null   int64
 1   Garage_ID          6878 non-null   object
 2   User_ID            6878 non-null   object
 3   User_type          6878 non-null   object
 4   Shared_ID          1412 non-null   object
 5   Start_plugin       6878 non-null   object
 6   Start_plugin_hour  6878 non-null   object
 7   End_plugout        6844 non-null   object
 8   End_plugout_hour   6844 non-null   float64
 9   El_kWh             6878 non-null   object
 10  Duration_hours     6844 non-null   object
 11  month_plugin       6878 non-null   object
 12  weekdays_plugin    6878 non-null   object
 13  Plugin_category    6878 non-null   object
 14  Duration_category  6844 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 806.1+ KB
None

In [11]:
ev_charging_reports = pd.get_dummies(ev_charging_reports, columns=["month_plugin", "weekdays_plugin", "User_type"], dtype=float)
print(ev_charging_reports.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6878 entries, 0 to 6877
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   session_ID                 6878 non-null   int64
 1   Garage_ID                  6878 non-null   object
 2   User_ID                    6878 non-null   object
 3   Shared_ID                  1412 non-null   object
 4   Start_plugin               6878 non-null   object
 5   Start_plugin_hour          6878 non-null   object
 6   End_plugout                6844 non-null   object
 7   End_plugout_hour           6844 non-null   float64
 8   El_kWh                     6878 non-null   object
 9   Duration_hours             6844 non-null   object
 10  Plugin_category            6878 non-null   object
 11  Duration_category          6844 non-null   object
 12  month_plugin_Apr           6878 non-null   float64
 13  month_plugin_Aug           6878 non-null   float64
 14  month_plugin_Dec           6878 non-null   float64
 15  month_plugin_Feb           6878 non-null   float64
 16  month_plugin_Jan           6878 non-null   float64
 17  month_plugin_Jul           6878 non-null   float64
 18  month_plugin_Jun           6878 non-null   float64
 19  month_plugin_Mar           6878 non-null   float64
 20  month_plugin_May           6878 non-null   float64
 21  month_plugin_Nov           6878 non-null   float64
 22  month_plugin_Oct           6878 non-null   float64
 23  month_plugin_Sep           6878 non-null   float64
 24  weekdays_plugin_Friday     6878 non-null   float64
 25  weekdays_plugin_Monday     6878 non-null   float64
 26  weekdays_plugin_Saturday   6878 non-null   float64
 27  weekdays_plugin_Sunday     6878 non-null   float64
 28  weekdays_plugin_Thursday   6878 non-null   float64
 29  weekdays_plugin_Tuesday    6878 non-null   float64
 30  weekdays_plugin_Wednesday  6878 non-null   float64
 31  User_type_Private          6878 non-null   float64
 32  User_type_Shared           6878 non-null   float64
dtypes: float64(22), int64(1), object(10)
memory usage: 1.7+ MB
None

In [17]:
ev_charging_reports.head()
print(ev_charging_reports.shape)

(6878, 33)

In [21]:
traffic_reports = pd.read_csv("dataset/local_traffic_distribution.csv", delimiter=';')
cols_dict = {
    'KROPPAN BRU': 'Kroppan_bru_traffic',
    "MOHOLTLIA": "Moholtlia_traffic",
    "SELSBAKK": "Selsbakk_traffic",
    "MOHOLT RAMPE 2": "Moholt_rampe_2_traffic",
    "Jonsvannsveien vest for Steinanvegen": "Jonsvannsveien_vest_steinanvegen"
}
traffic_reports = traffic_reports.rename(columns=cols_dict)
print(traffic_reports.info())
traffic_reports.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10248 entries, 0 to 10247
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date_from                         10248 non-null  object
 1   Date_to                           10248 non-null  object
 2   Kroppan_bru_traffic               10248 non-null  object
 3   Moholtlia_traffic                 10248 non-null  object
 4   Selsbakk_traffic                  10248 non-null  object
 5   Moholt_rampe_2_traffic            10248 non-null  int64
 6   Jonsvannsveien_vest_steinanvegen  10248 non-null  int64
dtypes: int64(2), object(5)
memory usage: 560.6+ KB
None

,Date_from,Date_to,Kroppan_bru_traffic,Moholtlia_traffic,Selsbakk_traffic,Moholt_rampe_2_traffic,Jonsvannsveien_vest_steinanvegen
0,01.12.2018 00:00,01.12.2018 01:00,639,0,0,4,144
1,01.12.2018 01:00,01.12.2018 02:00,487,153,115,21,83
2,01.12.2018 02:00,01.12.2018 03:00,408,85,75,10,69
3,01.12.2018 03:00,01.12.2018 04:00,282,89,56,8,39
4,01.12.2018 04:00,01.12.2018 05:00,165,64,34,3,25

In [23]:
ev_charging_traffic = ev_charging_reports.merge(traffic_reports, left_on="Start_plugin_hour", right_on="Date_from")
ev_charging_traffic.head()

,session_ID,Garage_ID,User_ID,Shared_ID,Start_plugin,Start_plugin_hour,End_plugout,End_plugout_hour,El_kWh,Duration_hours,...,weekdays_plugin_Wednesday,User_type_Private,User_type_Shared,Date_from,Date_to,Kroppan_bru_traffic,Moholtlia_traffic,Selsbakk_traffic,Moholt_rampe_2_traffic,Jonsvannsveien_vest_steinanvegen
0,1,AdO3,AdO3-4,NaN,21.12.2018 10:20,21.12.2018 10:00,21.12.2018 10:23,10.0,"0,3","0,05",...,0.0,1.0,0.0,21.12.2018 10:00,21.12.2018 11:00,3244,1632,545,194,622
1,2,AdO3,AdO3-4,NaN,21.12.2018 10:24,21.12.2018 10:00,21.12.2018 10:32,10.0,"0,87","0,136666667",...,0.0,1.0,0.0,21.12.2018 10:00,21.12.2018 11:00,3244,1632,545,194,622
2,3,AdO3,AdO3-4,NaN,21.12.2018 11:33,21.12.2018 11:00,21.12.2018 19:46,19.0,"29,87","8,216388889",...,0.0,1.0,0.0,21.12.2018 11:00,21.12.2018 12:00,3605,1691,605,230,771
3,4,AdO3,AdO3-2,NaN,22.12.2018 16:15,22.12.2018 16:00,23.12.2018 16:40,16.0,"15,56","24,41972222",...,0.0,1.0,0.0,22.12.2018 16:00,22.12.2018 17:00,3052,1484,453,224,694
4,5,AdO3,AdO3-2,NaN,24.12.2018 22:03,24.12.2018 22:00,24.12.2018 23:02,23.0,"3,62","0,970555556",...,0.0,1.0,0.0,24.12.2018 22:00,24.12.2018 23:00,1390,693,226,83,353

In [25]:
print(ev_charging_traffic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   session_ID                        6433 non-null   int64
 1   Garage_ID                         6433 non-null   object
 2   User_ID                           6433 non-null   object
 3   Shared_ID                         1298 non-null   object
 4   Start_plugin                      6433 non-null   object
 5   Start_plugin_hour                 6433 non-null   object
 6   End_plugout                       6399 non-null   object
 7   End_plugout_hour                  6399 non-null   float64
 8   El_kWh                            6433 non-null   object
 9   Duration_hours                    6399 non-null   object
 10  Plugin_category                   6433 non-null   object
 11  Duration_category                 6399 non-null   object
 12  month_plugin_Apr                  6433 non-null   float64
 13  month_plugin_Aug                  6433 non-null   float64
 14  month_plugin_Dec                  6433 non-null   float64
 15  month_plugin_Feb                  6433 non-null   float64
 16  month_plugin_Jan                  6433 non-null   float64
 17  month_plugin_Jul                  6433 non-null   float64
 18  month_plugin_Jun                  6433 non-null   float64
 19  month_plugin_Mar                  6433 non-null   float64
 20  month_plugin_May                  6433 non-null   float64
 21  month_plugin_Nov                  6433 non-null   float64
 22  month_plugin_Oct                  6433 non-null   float64
 23  month_plugin_Sep                  6433 non-null   float64
 24  weekdays_plugin_Friday            6433 non-null   float64
 25  weekdays_plugin_Monday            6433 non-null   float64
 26  weekdays_plugin_Saturday          6433 non-null   float64
 27  weekdays_plugin_Sunday            6433 non-null   float64
 28  weekdays_plugin_Thursday          6433 non-null   float64
 29  weekdays_plugin_Tuesday           6433 non-null   float64
 30  weekdays_plugin_Wednesday         6433 non-null   float64
 31  User_type_Private                 6433 non-null   float64
 32  User_type_Shared                  6433 non-null   float64
 33  Date_from                         6433 non-null   object
 34  Date_to                           6433 non-null   object
 35  Kroppan_bru_traffic               6433 non-null   object
 36  Moholtlia_traffic                 6433 non-null   object
 37  Selsbakk_traffic                  6433 non-null   object
 38  Moholt_rampe_2_traffic            6433 non-null   int64
 39  Jonsvannsveien_vest_steinanvegen  6433 non-null   int64
dtypes: float64(22), int64(3), object(15)
memory usage: 2.0+ MB
None

In [27]:
drop_columns = ['session_ID', 'Garage_ID', 'User_ID', 
                'Shared_ID',
                'Plugin_category','Duration_category', 
                'Start_plugin', 'Start_plugin_hour', 'End_plugout', 'End_plugout_hour', 
                'Date_from', 'Date_to']

ev_charging_traffic = ev_charging_traffic.drop(columns=drop_columns, axis=1)
ev_charging_traffic.head()

,El_kWh,Duration_hours,month_plugin_Apr,month_plugin_Aug,month_plugin_Dec,month_plugin_Feb,month_plugin_Jan,month_plugin_Jul,month_plugin_Jun,month_plugin_Mar,...,weekdays_plugin_Thursday,weekdays_plugin_Tuesday,weekdays_plugin_Wednesday,User_type_Private,User_type_Shared,Kroppan_bru_traffic,Moholtlia_traffic,Selsbakk_traffic,Moholt_rampe_2_traffic,Jonsvannsveien_vest_steinanvegen
0,"0,3","0,05",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244,1632,545,194,622
1,"0,87","0,136666667",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244,1632,545,194,622
2,"29,87","8,216388889",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3605,1691,605,230,771
3,"15,56","24,41972222",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3052,1484,453,224,694
4,"3,62","0,970555556",0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1390,693,226,83,353

In [29]:
print(ev_charging_traffic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   El_kWh                            6433 non-null   object
 1   Duration_hours                    6399 non-null   object
 2   month_plugin_Apr                  6433 non-null   float64
 3   month_plugin_Aug                  6433 non-null   float64
 4   month_plugin_Dec                  6433 non-null   float64
 5   month_plugin_Feb                  6433 non-null   float64
 6   month_plugin_Jan                  6433 non-null   float64
 7   month_plugin_Jul                  6433 non-null   float64
 8   month_plugin_Jun                  6433 non-null   float64
 9   month_plugin_Mar                  6433 non-null   float64
 10  month_plugin_May                  6433 non-null   float64
 11  month_plugin_Nov                  6433 non-null   float64
 12  month_plugin_Oct                  6433 non-null   float64
 13  month_plugin_Sep                  6433 non-null   float64
 14  weekdays_plugin_Friday            6433 non-null   float64
 15  weekdays_plugin_Monday            6433 non-null   float64
 16  weekdays_plugin_Saturday          6433 non-null   float64
 17  weekdays_plugin_Sunday            6433 non-null   float64
 18  weekdays_plugin_Thursday          6433 non-null   float64
 19  weekdays_plugin_Tuesday           6433 non-null   float64
 20  weekdays_plugin_Wednesday         6433 non-null   float64
 21  User_type_Private                 6433 non-null   float64
 22  User_type_Shared                  6433 non-null   float64
 23  Kroppan_bru_traffic               6433 non-null   object
 24  Moholtlia_traffic                 6433 non-null   object
 25  Selsbakk_traffic                  6433 non-null   object
 26  Moholt_rampe_2_traffic            6433 non-null   int64
 27  Jonsvannsveien_vest_steinanvegen  6433 non-null   int64
dtypes: float64(21), int64(2), object(5)
memory usage: 1.4+ MB
None

In [31]:
for column in ev_charging_traffic.columns:
    if ev_charging_traffic[column].dtype == 'object':
        ev_charging_traffic[column] = ev_charging_traffic[column].str.replace(',', '.')
        ev_charging_traffic[column] = ev_charging_traffic[column].str.replace('-', '0')


ev_charging_traffic.head()

,El_kWh,Duration_hours,month_plugin_Apr,month_plugin_Aug,month_plugin_Dec,month_plugin_Feb,month_plugin_Jan,month_plugin_Jul,month_plugin_Jun,month_plugin_Mar,...,weekdays_plugin_Thursday,weekdays_plugin_Tuesday,weekdays_plugin_Wednesday,User_type_Private,User_type_Shared,Kroppan_bru_traffic,Moholtlia_traffic,Selsbakk_traffic,Moholt_rampe_2_traffic,Jonsvannsveien_vest_steinanvegen
0,0.3,0.05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244,1632,545,194,622
1,0.87,0.136666667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244,1632,545,194,622
2,29.87,8.216388889,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3605,1691,605,230,771
3,15.56,24.41972222,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3052,1484,453,224,694
4,3.62,0.970555556,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1390,693,226,83,353

In [33]:
print(ev_charging_traffic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   El_kWh                            6433 non-null   object
 1   Duration_hours                    6399 non-null   object
 2   month_plugin_Apr                  6433 non-null   float64
 3   month_plugin_Aug                  6433 non-null   float64
 4   month_plugin_Dec                  6433 non-null   float64
 5   month_plugin_Feb                  6433 non-null   float64
 6   month_plugin_Jan                  6433 non-null   float64
 7   month_plugin_Jul                  6433 non-null   float64
 8   month_plugin_Jun                  6433 non-null   float64
 9   month_plugin_Mar                  6433 non-null   float64
 10  month_plugin_May                  6433 non-null   float64
 11  month_plugin_Nov                  6433 non-null   float64
 12  month_plugin_Oct                  6433 non-null   float64
 13  month_plugin_Sep                  6433 non-null   float64
 14  weekdays_plugin_Friday            6433 non-null   float64
 15  weekdays_plugin_Monday            6433 non-null   float64
 16  weekdays_plugin_Saturday          6433 non-null   float64
 17  weekdays_plugin_Sunday            6433 non-null   float64
 18  weekdays_plugin_Thursday          6433 non-null   float64
 19  weekdays_plugin_Tuesday           6433 non-null   float64
 20  weekdays_plugin_Wednesday         6433 non-null   float64
 21  User_type_Private                 6433 non-null   float64
 22  User_type_Shared                  6433 non-null   float64
 23  Kroppan_bru_traffic               6433 non-null   object
 24  Moholtlia_traffic                 6433 non-null   object
 25  Selsbakk_traffic                  6433 non-null   object
 26  Moholt_rampe_2_traffic            6433 non-null   int64
 27  Jonsvannsveien_vest_steinanvegen  6433 non-null   int64
dtypes: float64(21), int64(2), object(5)
memory usage: 1.4+ MB
None

In [35]:
for column in ev_charging_traffic.columns:
    ev_charging_traffic[column] = ev_charging_traffic[column].astype(float)

ev_charging_traffic = ev_charging_traffic.dropna()
ev_charging_traffic.head()

,El_kWh,Duration_hours,month_plugin_Apr,month_plugin_Aug,month_plugin_Dec,month_plugin_Feb,month_plugin_Jan,month_plugin_Jul,month_plugin_Jun,month_plugin_Mar,...,weekdays_plugin_Thursday,weekdays_plugin_Tuesday,weekdays_plugin_Wednesday,User_type_Private,User_type_Shared,Kroppan_bru_traffic,Moholtlia_traffic,Selsbakk_traffic,Moholt_rampe_2_traffic,Jonsvannsveien_vest_steinanvegen
0,0.30,0.050000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244.0,1632.0,545.0,194.0,622.0
1,0.87,0.136667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3244.0,1632.0,545.0,194.0,622.0
2,29.87,8.216389,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3605.0,1691.0,605.0,230.0,771.0
3,15.56,24.419722,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,3052.0,1484.0,453.0,224.0,694.0
4,3.62,0.970556,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1390.0,693.0,226.0,83.0,353.0